<!-- Start block -->
<section class="p-3 bg-transparent dark:bg-gray-900 sm:p-5">
  <div class="mx-auto px-4 lg:px-12 w-[1600px] ">
    <!-- Start coding here -->
    <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
      <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
        <div class="w-full md:w-1/2">
          <form class="flex items-center">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                  viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <input type="text" id="simple-search"
                class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Search" required="">
            </div>
          </form>
        </div>
        <div
          class="flex flex-col items-stretch justify-end flex-shrink-0 w-full pr-32 space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
          <button type="button" id="createProductModalButton" data-modal-target="createProductModal"
            data-modal-toggle="createProductModal"
            class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-blue-800 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
            <svg class="mr-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16 12H20M18 14V10M4 18V17C4 15.3431 5.34315 14 7 14H11C12.6569 14 14 15.3431 14 17V18C14 18.5523 13.5523 19 13 19H5C4.44772 19 4 18.5523 4 18ZM12 8C12 9.65685 10.6569 11 9 11C7.34315 11 6 9.65685 6 8C6 6.34315 7.34315 5 9 5C10.6569 5 12 6.34315 12 8Z"
                stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Novo
          </button>

          <div class="flex items-center w-full space-x-3 md:w-auto">
            <button id="actionsDropdownButton" data-dropdown-toggle="actionsDropdown"
              class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              type="button">
              <svg class="-ml-1 mr-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
              </svg>
              Actions
            </button>
            <div id="actionsDropdown"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="actionsDropdownButton">
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mass Edit</a>
                </li>
              </ul>
              <div class="py-1">
                <a href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete
                  all</a>
              </div>
            </div>
            <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
              class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              type="button">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-2 text-gray-400"
                viewbox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                  clip-rule="evenodd" />
              </svg>
              Filter
              <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
              </svg>
            </button>
            <div id="filterDropdown" class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
              <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Category</h6>
              <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
                <li class="flex items-center">
                  <input id="apple" type="checkbox" value=""
                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="apple"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Requisitos</label>
                </li>
                <li class="flex items-center">
                  <input id="fitbit" type="checkbox" value=""
                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Layout</label>
                </li>
                <li class="flex items-center">
                  <input id="dell" type="checkbox" value=""
                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="dell" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Empresas</label>
                </li>
                <li class="flex items-center">
                  <input id="asus" type="checkbox" value="" checked=""
                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="asus" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Documentos</label>
                </li>
                <li class="flex items-center">
                  <input id="logitech" type="checkbox" value="" checked=""
                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="logitech"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Acessos</label>
                </li>

                <li class="flex items-center">
                  <input id="bosch" type="checkbox" value="" checked=""
                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                  <label for="bosch" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Arquivos</label>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 vv">
          <thead class="text-xs text-white uppercase bg-black dark:bg-gray-700 dark:text-gray-400 ">
            <tr>
              <th scope="col" class="px-4 py-4">Empresa</th>
              <th scope="col" class="px-4 py-3">EMAIL</th>
              <th scope="col" class="px-4 py-3">Último Acesso</th>
              <th scope="col" class="px-4 py-3">Status</th>
              <th scope="col" class="px-4 py-3">Progresso</th>
              <th scope="col" class="px-4 py-3">Descrição</th>
              <th scope="col" class="px-2 py-3">Data Inicio</th>
              <th scope="col" class="px-2 py-3">Data Fim</th>
              <th scope="col" class="px-2 py-3">Orçamento</th>
              <th scope="col" class="px-4 py-3">Editar / Remover</th>

            </tr>
          </thead>
          <tbody>
            @for( projeto of projetoResponse; track projeto.projeto_id ) {
            <tr class="border-b dark:border-gray-700">
              <th scope="row"
                class="flex items-center px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <!-- Ícone SVG -->
                <a href="#"><img class="w-8 h-8 mr-2 rounded-full" src="assets\imagens\IconeUsuario.png" alt=""></a>
                {{projeto.projeto_id }}
              </th>

              <td class="px-4 py-3 font-medium truncate">{{ getEmail() }}</td>
              <td class="px-4 py-3">20 de janeiro, 2023</td>
              <td class="px-4 py-3">
                <span
                  class="inline-flex items-center bg-orange-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                  <span class="w-2 h-2 bg-orange-500 rounded-full me-1"></span>
                  Pendente
                </span>
              </td>
              <td class="px-4 py-3">20%</td>
              <td class="px-4 py-3">{{ projeto.projeto_descricao }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_inicio}}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_fim }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_orcamento }}</td>
              <div class="flex flex-row px-4 py-3">

                <button data-modal-toggle="updateProductModal" data-modal-target="updateProductModal"
                  class="px-6 py-2 mb-2 text-sm font-medium text-center text-white rounded-lg bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 me-2"
                  type="button">
                  Editar
                </button>
                <div id="updateProductModal" tabindex="-1" aria-hidden="true"
                  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">

                  <div class="relative w-full h-full max-w-2xl p-4 md:h-auto">
                    <div class="relative p-4 rounded-lg shadow bg-black/90 dark:bg-gray-800 sm:p-5">
                      <div
                        class="flex items-center justify-between pb-4 mb-4 border-b rounded-t sm:mb-5 dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-white dark:text-white">
                          Editar Usuário
                        </h3>

                        <button type="button" data-modal-toggle="updateProductModal"
                          class="text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                          </svg>
                          <span class="sr-only">Close modal</span>
                        </button>
                      </div>
                      <form [formGroup]="projetoForm" (ngSubmit)="atualizarProjeto()">
                        <div class="grid gap-4 mb-4 sm:grid-cols-2">
                          <div>
                            <label for="projeto_id" class="block mb-2 text-sm font-medium text-white dark:text-white">
                              ID
                            </label>
                            <input type="text" name="projeto_id" id="projeto_id" formControlName="projeto_id"
                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                              placeholder="N° ID" />
                          </div>

                          <div>
                            <label for="projeto_orcamento"
                              class="block mb-2 text-sm font-medium text-white dark:text-white">
                              Orçamento
                            </label>
                            <input type="number" name="projeto_orcamento" id="projeto_orcamento"
                              formControlName="projeto_orcamento"
                              class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                              placeholder="$299" />
                          </div>

                          <!--
                          <div>
                            <label for="projeto_data_inicio" class="block mb-2 text-sm font-medium text-white dark:text-white">
                              Data de Início
                            </label>
                            <input type="date" name="projeto_data_inicio" id="projeto_data_inicio"
                              formControlName="projeto_data_inicio"
                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                          </div>

                          <div>
                            <label for="projeto_data_fim" class="block mb-2 text-sm font-medium text-white dark:text-white">
                              Data de Fim
                            </label>
                            <input type="date" name="projeto_data_fim" id="projeto_data_fim" formControlName="projeto_data_fim"
                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                          </div>
                          -->

                          <div class="sm:col-span-2">
                            <label for="projeto_descricao"
                              class="block mb-2 text-sm font-medium text-white dark:text-white">
                              Descrição
                            </label>
                            <textarea id="projeto_descricao" rows="5" formControlName="projeto_descricao"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                              placeholder="Write a description...">Descrição do Cliente ou sua empresa</textarea>
                          </div>
                        </div>

                        <div class="flex items-center space-x-4">
                          <button type="submit"
                            class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Atualizar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>


                <button
                  class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
                  type="button" (click)="deletarProjeto(projeto.projeto_id)">Deletar</button>

              </div>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th scope="row"
                class="flex items-center px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <!-- Ícone SVG -->
                <a href="#"><img class="w-8 h-8 mr-2 rounded-full" src="assets\imagens\IconeUsuario.png" alt=""></a>
                {{projeto.projeto_id }}
              </th>
              <td class="px-4 py-3 font-medium truncate">{{ getEmail()}}</td>
              <td class="px-4 py-3">20 de janeiro, 2023</td>
              <td class="px-4 py-3"><span
                  class="inline-flex items-center bg-yellow-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                  <span class="w-2 h-2 bg-yellow-500 rounded-full me-1"></span>
                  Concluído
                </span></td>
              <td class="px-4 py-3">100%</td>
              <td class="px-4 py-3">{{ projeto.projeto_descricao }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_inicio}}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_fim }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_orcamento }}</td>
              <form [formGroup]="projetoForm" (ngSubmit)="atualizarProjeto()">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                  <div>
                    <label for="projeto_id" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      ID
                    </label>
                    <input type="text" name="projeto_id" id="projeto_id" formControlName="projeto_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="N° ID" />
                  </div>

                  <div>
                    <label for="projeto_orcamento" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Orçamento
                    </label>
                    <input type="number" name="projeto_orcamento" id="projeto_orcamento"
                      formControlName="projeto_orcamento"
                      class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="$299" />
                  </div>
                  <!--
                  <div>
                    <label for="projeto_data_inicio" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Início
                    </label>
                    <input type="date" name="projeto_data_inicio" id="projeto_data_inicio"
                      formControlName="projeto_data_inicio"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>

                  <div>
                    <label for="projeto_data_fim" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Fim
                    </label>
                    <input type="date" name="projeto_data_fim" id="projeto_data_fim" formControlName="projeto_data_fim"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>
                  -->

                  <div class="sm:col-span-2">
                    <label for="projeto_descricao" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Descrição
                    </label>
                    <textarea id="projeto_descricao" rows="5" formControlName="projeto_descricao"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Write a description...">Descrição do Cliente ou sua empresa</textarea>
                  </div>
                </div>

                <div class="flex items-center space-x-4">
                  <button type="submit"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Atualizar
                  </button>
                </div>
              </form>

            </tr>
            <tr class="border-b dark:border-gray-700">
              <th scope="row"
                class="flex items-center px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <!-- Ícone SVG -->
                <a href="#"><img class="w-8 h-8 mr-2 rounded-full" src="assets\imagens\IconeUsuario.png" alt=""></a>
                {{projeto.projeto_id }}
              </th>
              <td class="px-4 py-3 font-medium truncate">{{ getEmail()}}</td>
              <td class="px-4 py-3">30 de janeiro, 2023</td>
              <td class="px-4 py-3"><span
                  class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                  <span class="w-2 h-2 bg-green-500 rounded-full me-1"></span>
                  Ativo
                </span></td>
              <td class="px-4 py-3">100%</td>
              <td class="px-4 py-3">{{ projeto.projeto_descricao }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_inicio}}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_fim }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_orcamento }}</td>
              <form [formGroup]="projetoForm" (ngSubmit)="atualizarProjeto()">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                  <div>
                    <label for="projeto_id" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      ID
                    </label>
                    <input type="text" name="projeto_id" id="projeto_id" formControlName="projeto_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="N° ID" />
                  </div>

                  <div>
                    <label for="projeto_orcamento" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Orçamento
                    </label>
                    <input type="number" name="projeto_orcamento" id="projeto_orcamento"
                      formControlName="projeto_orcamento"
                      class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="$299" />
                  </div>
                  <!--
                  <div>
                    <label for="projeto_data_inicio" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Início
                    </label>
                    <input type="date" name="projeto_data_inicio" id="projeto_data_inicio"
                      formControlName="projeto_data_inicio"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>

                  <div>
                    <label for="projeto_data_fim" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Fim
                    </label>
                    <input type="date" name="projeto_data_fim" id="projeto_data_fim" formControlName="projeto_data_fim"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>
                  -->

                  <div class="sm:col-span-2">
                    <label for="projeto_descricao" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Descrição
                    </label>
                    <textarea id="projeto_descricao" rows="5" formControlName="projeto_descricao"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Write a description...">Descrição do Cliente ou sua empresa</textarea>
                  </div>
                </div>

                <div class="flex items-center space-x-4">
                  <button type="submit"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Atualizar
                  </button>
                </div>
              </form>



            </tr>
            <tr class="border-b dark:border-gray-700">
              <th scope="row"
                class="flex items-center px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <!-- Ícone SVG -->
                <a href="#"><img class="w-8 h-8 mr-2 rounded-full" src="assets\imagens\IconeUsuario.png" alt=""></a>
                {{projeto.projeto_id }}
              </th>
              <td class="px-4 py-3 font-medium truncate">{{ getEmail()}}</td>
              <td class="px-4 py-3">20 de janeiro, 2023</td>
              <td class="px-4 py-3"><span
                  class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                  <span class="w-2 h-2 bg-green-500 rounded-full me-1"></span>
                  Ativo
                </span></td>
              <td class="px-4 py-3">100%</td>
              <td class="px-4 py-3">{{ projeto.projeto_descricao }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_inicio}}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_fim }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_orcamento }}</td>
              <form [formGroup]="projetoForm" (ngSubmit)="atualizarProjeto()">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                  <div>
                    <label for="projeto_id" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      ID
                    </label>
                    <input type="text" name="projeto_id" id="projeto_id" formControlName="projeto_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="N° ID" />
                  </div>

                  <div>
                    <label for="projeto_orcamento" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Orçamento
                    </label>
                    <input type="number" name="projeto_orcamento" id="projeto_orcamento"
                      formControlName="projeto_orcamento"
                      class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="$299" />
                  </div>
                  <!--
                  <div>
                    <label for="projeto_data_inicio" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Início
                    </label>
                    <input type="date" name="projeto_data_inicio" id="projeto_data_inicio"
                      formControlName="projeto_data_inicio"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>

                  <div>
                    <label for="projeto_data_fim" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Fim
                    </label>
                    <input type="date" name="projeto_data_fim" id="projeto_data_fim" formControlName="projeto_data_fim"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>
                  -->

                  <div class="sm:col-span-2">
                    <label for="projeto_descricao" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Descrição
                    </label>
                    <textarea id="projeto_descricao" rows="5" formControlName="projeto_descricao"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Write a description...">Descrição do Cliente ou sua empresa</textarea>
                  </div>
                </div>

                <div class="flex items-center space-x-4">
                  <button type="submit"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Atualizar
                  </button>
                </div>
              </form>


            </tr>
            <tr class="border-b dark:border-gray-700">
              <th scope="row"
                class="flex items-center px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <!-- Ícone SVG -->
                <a href="#"><img class="w-8 h-8 mr-2 rounded-full" src="assets\imagens\IconeUsuario.png" alt=""></a>
                {{projeto.projeto_id }}
              </th>
              <td class="px-4 py-3 font-medium truncate">{{ getEmail()}}</td>
              <td class="px-4 py-3">20 de janeiro, 2023</td>
              <td class="px-4 py-3"><span
                  class="inline-flex items-center bg-red-200 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                  <span class="w-2 h-2 bg-red-800 rounded-full me-1"></span>
                  Desativado
                </span></td>
              <td class="px-4 py-3">100%</td>
              <td class="px-4 py-3">{{ projeto.projeto_descricao }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_inicio}}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_fim }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_orcamento }}</td>
              <form [formGroup]="projetoForm" (ngSubmit)="atualizarProjeto()">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                  <div>
                    <label for="projeto_id" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      ID
                    </label>
                    <input type="text" name="projeto_id" id="projeto_id" formControlName="projeto_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="N° ID" />
                  </div>

                  <div>
                    <label for="projeto_orcamento" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Orçamento
                    </label>
                    <input type="number" name="projeto_orcamento" id="projeto_orcamento"
                      formControlName="projeto_orcamento"
                      class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="$299" />
                  </div>
                  <!--
                  <div>
                    <label for="projeto_data_inicio" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Início
                    </label>
                    <input type="date" name="projeto_data_inicio" id="projeto_data_inicio"
                      formControlName="projeto_data_inicio"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>

                  <div>
                    <label for="projeto_data_fim" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Fim
                    </label>
                    <input type="date" name="projeto_data_fim" id="projeto_data_fim" formControlName="projeto_data_fim"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>
                  -->

                  <div class="sm:col-span-2">
                    <label for="projeto_descricao" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Descrição
                    </label>
                    <textarea id="projeto_descricao" rows="5" formControlName="projeto_descricao"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Write a description...">Descrição do Cliente ou sua empresa</textarea>
                  </div>
                </div>

                <div class="flex items-center space-x-4">
                  <button type="submit"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Atualizar
                  </button>
                </div>
              </form>


            </tr>
            <tr class="border-b dark:border-gray-700">
              <th scope="row"
                class="flex items-center px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <!-- Ícone SVG -->
                <a href="#"><img class="w-8 h-8 mr-2 rounded-full" src="assets\imagens\IconeUsuario.png" alt=""></a>
                {{projeto.projeto_id }}
              </th>
              <td class="px-4 py-3 font-medium truncate">{{ getEmail()}}</td>
              <td class="px-4 py-3">30 de janeiro, 2023</td>
              <td class="px-4 py-3"><span
                  class="inline-flex items-center bg-red-200 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                  <span class="w-2 h-2 bg-red-800 rounded-full me-1"></span>
                  Desativado
                </span></td>
              <td class="px-4 py-3">100%</td>
              <td class="px-4 py-3">{{ projeto.projeto_descricao }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_inicio}}</td>
              <td class="px-4 py-3">{{ projeto.projeto_data_fim }}</td>
              <td class="px-4 py-3">{{ projeto.projeto_orcamento }}</td>
              <form [formGroup]="projetoForm" (ngSubmit)="atualizarProjeto()">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                  <div>
                    <label for="projeto_id" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      ID
                    </label>
                    <input type="text" name="projeto_id" id="projeto_id" formControlName="projeto_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="N° ID" />
                  </div>

                  <div>
                    <label for="projeto_orcamento" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Orçamento
                    </label>
                    <input type="number" name="projeto_orcamento" id="projeto_orcamento"
                      formControlName="projeto_orcamento"
                      class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="$299" />
                  </div>
                  <!--
                  <div>
                    <label for="projeto_data_inicio" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Início
                    </label>
                    <input type="date" name="projeto_data_inicio" id="projeto_data_inicio"
                      formControlName="projeto_data_inicio"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>

                  <div>
                    <label for="projeto_data_fim" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Data de Fim
                    </label>
                    <input type="date" name="projeto_data_fim" id="projeto_data_fim" formControlName="projeto_data_fim"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  </div>
                  -->
                  <div class="sm:col-span-2">
                    <label for="projeto_descricao" class="block mb-2 text-sm font-medium text-white dark:text-white">
                      Descrição
                    </label>
                    <textarea id="projeto_descricao" rows="5" formControlName="projeto_descricao"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Write a description...">Descrição do Cliente ou sua empresa</textarea>
                  </div>
                </div>

                <div class="flex items-center space-x-4">
                  <button type="submit"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Atualizar
                  </button>
                </div>
              </form>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0"
        aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
          Showing
          <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
          of
          <span class="font-semibold text-gray-900 dark:text-white">1000</span>
        </span>
        <ul class="inline-flex items-stretch -space-x-px">
          <li>
            <a href="#"
              class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Previous</span>
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
          </li>
          <li>
            <a href="#" aria-current="page"
              class="z-10 flex items-center justify-center px-3 py-2 text-sm leading-tight border text-primary-600 bg-primary-50 border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Next</span>
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<!-- End block -->
<!-- Create modal -->
<div id="createProductModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full p-4">
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-500 rounded-t sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Novo Usuário</h3>
        <button type="button" class="text-white bg-blue-600 hover:bg-blue-700 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-blue-800" data-modal-target="createProductModal" data-modal-toggle="createProductModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="container p-8 mx-auto">
        <div class="flex flex-col items-center justify-center">
          <div class="flex items-center mb-6 space-x-6">
            <label for="file_input" class="cursor-pointer">
              <img class="w-40 rounded-full h-30" src="assets/imagens/avatar.png" alt="user">
            </label>
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
              <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
              <span class="text-sm text-gray-500">Adicione a imagem do usuário</span>
            </div>
          </div>

          <form [formGroup]="projetoForm" (ngSubmit)="criarProjeto()">
            <div class="grid w-full gap-4 mb-4 sm:grid-cols-2">
              <div>
                <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID</label>
                <input type="number" name="id" id="id" formControlName="projeto_id" required=""
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              </div>
              <div>
                <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Empresa</label>
                <input type="text" name="company" id="company" formControlName="empresa_id" required=""
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              </div>
              <div>
                <label for="budget" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Orçamento</label>
                <input type="number" name="budget" id="budget" formControlName="projeto_orcamento" required=""
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              </div>

              <div class="sm:col-span-2">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição</label>
                <textarea id="description" rows="4" formControlName="projeto_descricao"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-black focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"></textarea>
              </div>
            </div>

            <a href="#" class="flex text-white bg-black hover:bg-[#313131]  focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-[#F1AC0C] dark:shadow-md dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ease-in-out duration-300">
              <button type="submit" class="flex items-center">
                <svg class="w-6 h-6 mr-1 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                <span class="font-bold">Adicionar novo Usuário</span>
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    document.getElementById('updateProductButton').click();
  });


</script>
